html {
	background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	background-size: cover;
}

body {
	font-family: 'Poiret One', cursive;
}

#iconContainer {
	margin-top: 150px;
	margin-bottom: 150px;
	margin-left: auto;
  	margin-right: auto;
  	width: 20%;
}

#icon {
	width: 100%;
}

#welcome {
	width: 100%;
  	padding: 0 7%;
  	display: table;
  	margin: 0;
  	max-width: none;
  	background-color: #39BECC;
  	text-align: center;
}

#whoWeAre {
	width: 100%;
	height: 600px;
  	padding: 0 7%;
  	display: table;
  	margin: 0;
  	max-width: none;
  	background-color: #FFFFFF;
  	text-align: center;
}

#footer {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
  	display: table;
  	margin: 0;
  	max-width: none;
  	background-color: #2F2F2F;
  	text-align: center;
}

#socialIcon {
	width: 20px;
	height: 20px;
	display: inline-block;
}

















