html {
	background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	background-size: cover;
}

#iconContainer {
	margin-left: auto;
  	margin-right: auto;
  	width: 20%;
}

#icon {
	width: 100%;
}